Source: cosu-trainer
Priority: low
Build-Depends: meson, debhelper, gcc, bash, libmpg123-dev, libmp3lame-dev, libsndfile1-dev, libsoundtouch-dev
Maintainer: hwsnemo <hwsnemo@gmail.com>
Standards-Version: 4.6.0

Package: cosu-trainer
Depends: ${shlibs:Depends}
Architecture: amd64 i386
Description: Change various parameters of an osu! map easily