#!/usr/bin/make -f
PREFIX=/usr
INSTALLDIR=debian/tmp
DESTDIR=$(INSTALLDIR)$(PREFIX)

%:
	dh $@

override_dh_auto_build:
	bash ./build.sh

override_dh_auto_install:
	install -D -m755 "./bin/cosu-trainer" "$(DESTDIR)/bin/cosu-trainer"
	install -D -m755 "./bin/osumem" "$(DESTDIR)/bin/osumem"
	install -D -m755 "./bin/cleanup" "$(DESTDIR)/bin/cosu-cleanup"
