name: Package

on:
    workflow_dispatch:

jobs:
    linux:
        runs-on: ubuntu-latest
        name: Linux AppImage Build
        container: debian:bullseye
        steps:
            - name: Install dependencies
              run: |
                  apt update -y
                  apt install -y g++ libmpg123-dev libmp3lame-dev libsndfile1-dev libsoundtouch-dev libminizip-dev zlib1g-dev \
                  libfltk1.3-dev meson wget tar zstd gzip file fuse libfuse2

            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure
              run: meson setup --prefix=/usr builddir --optimization=s -Ddebug=false -Dstrip=true

            - name: Build
              run: ninja -v -C builddir

            - name: Download linuxdeploy
              run: wget https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage

            - name: Make AppDir
              run: |
                  DESTDIR=$PWD/AppDir meson install -C builddir
                  rm AppDir/usr/bin/cosu-cleanup AppDir/usr/bin/osumem

            - name: Create AppImage
              run: |
                  chmod +x linuxdeploy-x86_64.AppImage
                  ./linuxdeploy-x86_64.AppImage --appimage-extract
                  ./squashfs-root/usr/bin/linuxdeploy --appdir=AppDir -d AppDir/usr/share/applications/cosu-trainer.desktop -i AppDir/usr/share/pixmaps/cosutrainer.png -o appimage

            - name: Pack tarball
              run: |
                  ls -al
                  mkdir package
                  cp builddir/osumem builddir/cosu-cleanup cosu-trainer-*.AppImage COPYING.md package
                  tar cf - -C package . | zstd > cosu-trainer-bin.tar.zst

            - name: Upload a package
              uses: actions/upload-artifact@v4
              with:
                  name: cosu-trainer-bin
                  path: cosu-trainer-bin.tar.zst

    win:
        runs-on: windows-latest
        name: Windows Build
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup MSYS2
              uses: msys2/setup-msys2@v2
              with:
                  update: true
                  msystem: UCRT64
                  install: >-
                      mingw-w64-ucrt-x86_64-gcc
                      mingw-w64-ucrt-x86_64-mpg123
                      mingw-w64-ucrt-x86_64-lame
                      mingw-w64-ucrt-x86_64-libsndfile
                      mingw-w64-ucrt-x86_64-soundtouch
                      mingw-w64-ucrt-x86_64-minizip
                      mingw-w64-ucrt-x86_64-fltk1.3
                      mingw-w64-ucrt-x86_64-meson

            - name: Configure
              shell: msys2 {0}
              run: meson setup builddir --optimization=s -Ddebug=false

            - name: Build
              shell: msys2 {0}
              run: ninja -v -C builddir

            - name: Save a list of dependencies
              shell: msys2 {0}
              run: ldd builddir/cosu-trainer.exe | awk 'NF == 4 { print($3) }' | grep -vE '*/c' > ./deplist

            - name: Package
              shell: msys2 {0}
              run: |
                  ls -al
                  mkdir package && cd package
                  strip -s -o cosu-trainer.exe ../builddir/cosu-trainer.exe
                  for lib in $(cat ../deplist); do echo $lib && strip -s -o `basename $lib` $lib; done
                  cp ../COPYING.md ../docs/cosutrainer.png .

            - name: Upload a package
              uses: actions/upload-artifact@v4
              with:
                  name: cosu-trainer-win-bin
                  path: package/*
                  compression-level: 9
